<!DOCTYPE HTML>
<html>
<head>
    <title>Аукцион ДельтаКредит</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="Scripts/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Content/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="/Content/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/Content/css/ie8.css" /><![endif]-->

    <!-- Scripts -->
    <script src="/Scripts/jquery-3.2.1.min.js"></script>
    <script src="/Scripts/skel.min.js"></script>
    <script src="/Scripts/util.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!--[if lte IE 8]><script src="/Scripts/ie/respond.min.js"></script><![endif]-->
    <script src="/Scripts/main.js"></script>
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Body -->
            @RenderBody()

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="copyright">
                    <li>&copy; ДельтаКредит. Все права защищены.</li>
                    <li><a href="https://t.me/joinchat/AAAAAELuKAA1HFTdC_BP2A" class="icon fa-telegram" target="_blank"> Telegram</a></li>
                </ul>
            </div>
        </footer>

    </div>

</body>
</html>