@model Auction.Models.LoginViewModel
<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="/Home/Index" class="logo">
            <img src="/Content/images/logo.png" alt="" />
        </a>
    </div>
</header>
<!-- Main -->
<div id="main">
    <div class="inner">
        <header class="textcenter">
            <h1>Аукцион ДельтаКредит</h1>
            <h3>Вход</h3>
        </header>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="widthmargin">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger", style = "list-style-type: none;" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль", type="password" })
                <div class="buttextcenter">
                    <input type="submit" class="button special" value="Войти" />
                </div>
            </div>
        }

    </div>
</div>