<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="/Home/Index" class="logo">
            <img src="/Content/images/logo.png" alt="" />
        </a>
    </div>
</header>
<!-- Main -->
<div id="main">
    <div class="inner">
        <header style="text-align: center;">
            <h1>Большая #PROКАЧКА</h1>
            <h2>Админ Панель</h2>
        </header>
        <div class="wrap">
            <a href="/Home/Register" class="button special">Регистрация пользователей</a>
            <a href="/Home/SendRegistrationMessage" class="button special">Отправить сообщения пользователям</a>
            <a href="/Home/AddItem" class="button special">Добавить лот</a>
            <a href="/Home/AllItems" class="button special">Посмотреть все лоты</a>
        </div>
    </div>
</div>