<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="Index" class="logo">
            <img src="/Content/images/logo.png" alt="" />
        </a>
        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Menu -->
<nav id="menu">
    <h2>Меню</h2>
    <ul>
        <li><a>@User.Identity.Name</a></li>
        <li><a>Баланс: @ViewBag.Coints <span class="icon fa-btc"></span></a></li>
        <li><a href="/Account/LogOff">Выйти</a></li>
    </ul>
</nav>

<!-- Main -->
<div id="main">
    <div class="inner">
        <header style="text-align: center;">
            <h1>Аукцион ДельтаКредит</h1>
            <h3>До конца аукциона осталось:</h3>
            <script src="http://megatimer.ru/s/39ac4279881defe5f43037c562db2f34.js"></script>
        </header>
        <section class="tiles">
            <article class="">
                <span class="image">
                    <img src="/Content/images/2hq.jpeg" alt="" />
                </span>
                <a href="Item">
                    <div class="content">
                        <h2>Кофемашина</h2>
                        <h3>Nespresso</h3>
                        <span>Текущая ставка:</span>
                        <br><span>5000 <span class="icon fa-btc"></span></span>
                        <br><span>Шаг ставки:</span>
                        <br><span>100 <span class="icon fa-btc"></span></span>
                    </div>
                </a>
            </article>
        </section>
    </div>
</div>