<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="Index" class="logo">
            <img src="/Content/images/logo.png" alt="" />
        </a>
    </div>
</header>
<!-- Main -->
<div id="main" style="margin-bottom: 11%">
    <div class="inner">
        <header style="text-align: center;">
            <h1>Ошибка авторизации</h1>
            <h3>Данная учетная запись не зарегистрирована в системе</h3>
        </header>
    </div>
</div>