<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="/Home/Index" class="logo">
            <img src="/Content/images/logo.png" alt="" />
        </a>
    </div>
</header>
<!-- Main -->
<div id="main">
    <div class="inner">
        @if (ViewBag.SendSuccess == true)
        {
            <header class="text-center">
                <h1>Большая #PROКАЧКА</h1>
                <h2>Сообщения отправлены</h2>
            </header>
            <div class="wrap">
                <a href="/Home/AdminPanel" class="button special">Перейти в Админ Панель</a>
            </div>
        }
        else
        {
            <header class="text-center">
                <h1>Аукцион ДельтаКредит</h1>
                <h2>Отправка сообщений о регистрации</h2>
            </header>
            <div class="wrap">
                @using (Html.BeginForm("SendRegistrationMessage", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="btn">
                        <button type="submit" class="button special">Отправить информацию пользователям</button>
                    </div>
                }
                <a href="/Home/AdminPanel" class="button special">Перейти в Админ Панель</a>
            </div>
        }   
    </div>
</div>