<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="Index" class="logo">
            <img src="/Content/images/logo.png" alt="" />
        </a>
    </div>
</header>
<!-- Main -->
<div id="main">
    <div class="inner mb">
        <header class="text-center">
            <h1>Аукцион ДельтаКредит</h1>
            <h2>Упс! Произошла ошибка.</h2>
            <h3>Наша команда уже работает над ее исправлением.</h3>
            <a href="/Home/Index" class="button special">Перейти на гланую</a>
        </header>
    </div>
</div>

