<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="Index" class="logo">
            <img src="/Content/images/logo.png" alt="" />
        </a>
    </div>
</header>
<!-- Main -->
<div id="main">
    <div class="inner" style="margin-bottom: 8%">
        <header class="textcenter">
            <h1>Аукцион ДельтаКредит</h1>
            <h3>Упс! Произошла ошибка.</h3>
            <h4>Наша команда уже работает над ее исправлением.</h4>
            <a href="/Home/Index" class="button special">Перейти на гланую</a>
        </header>
    </div>
</div>

