<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="Index" class="logo">
            <img src="/Content/images/logo.png" alt="" />
        </a>
    </div>
</header>
<!-- Main -->
<div id="main mb">
    <div class="inner">
        <header class="text-center">
            <h1>Аукцион ДельтаКредит</h1>
            <h2>Ошибка 403. Доступ запрещен</h2>
            <a href="/Home/Index" class="button special">Перейти на гланую</a>
        </header>
    </div>
</div>